/* .pagination {
    float: right;
     border: none!important;
   } 
   
   
   .pagination a {
     color: black;
     float: left;
     padding: 6px 16px;
     text-decoration: none;
     transition: background-color .3s;
     border: 1px solid #ddd;
     cursor: pointer;
   
   }
   
   .pagination a.active {
     background-color: #4CAF50;
     color: white;
     border: 1px solid #4CAF50;
   } */


   .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 1rem;
}

.pagination-btn {
    width: 60px;
    height: 40px;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #0c0c0c;
    border-color: #eee;
}

.pagination-btn.active {
    font-weight: 900;
    border-color: #101010;
    background: #ffe400;
    color: #101010;
}

.previous-next{
  width: 90px;
  height: 40px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: #0c0c0c;
  border-color: #eee;
}
