// Page Sidebar Start
- var status = (sidebar_open ? 'open' : (sidebar_image ? 'native-image-bg' : ''));
.page-sidebar(className=status)

                    .main-header-left.d-none.d-lg-block
                        .logo-wrapper
                            a(href='../ltr/index.html')
                                img(src='../assets/images/endless-logo.png', alt='')
                    div.sidebar.custom-scrollbar
                        .sidebar-user.text-center
                            div
                                img.img-60.rounded-circle(src='../assets/images/user/1.jpg', alt='#')
                                .profile-edit
                                    a(href='../ltr/edit-profile.html', target='_blank')
                                        i(data-feather='edit')
                            h6.mt-3.f-14 ELANA
                            p general manager.
                        ul.sidebar-menu
                            li
                                a.sidebar-header(href='../ltr/index.html', target='_blank')
                                    i(data-feather='home')
                                    span Dashboard
                            li.active
                                a.sidebar-header(href='#')
                                    i(data-feather='anchor')
                                    span Starter Kit
                                    i.fa.fa-angle-right.pull-right
                                ul.sidebar-submenu
                                    li.active
                                        a(href='#')
                                            i.fa.fa-circle
                                            | color version
                                            i.fa.fa-angle-down.pull-right
                                        ul.sidebar-submenu
                                            li
                                                a.active(href='layout-light.html')
                                                    i.fa.fa-circle
                                                    | Layout Light
                                            li
                                                a(href='layout-dark.html')
                                                    i.fa.fa-circle
                                                    | Layout Dark
                                    li
                                        a(href='#')
                                            i.fa.fa-circle
                                            | Sidebar
                                            i.fa.fa-angle-down.pull-right
                                        ul.sidebar-submenu
                                            li
                                                a(href='light-nav.html')
                                                    i.fa.fa-circle
                                                    | Light Sidebar
                                            li
                                                a(href='compact.html')
                                                    i.fa.fa-circle
                                                    | Compact Sidebar
                                            li
                                                a(href='compact-small.html')
                                                    i.fa.fa-circle
                                                    | Compact Icon Sidebar
                                            li
                                                a(href='dark-nav.html')
                                                    i.fa.fa-circle
                                                    | Dark Sidebar
                                            li
                                                a(href='sidebar-hidden.html')
                                                    i.fa.fa-circle
                                                    | Sidebar Hidden
                                            li
                                                a(href='sidebar-fixed.html')
                                                    i.fa.fa-circle
                                                    | Sidebar Fixed
                                            li
                                                a(href='image-sidebar.html')
                                                    i.fa.fa-circle
                                                    | Sidebar With Image
                                            li
                                                a.disabled(href='', onclick='return false;')
                                                    i.fa.fa-circle
                                                    | Disable
                                    li
                                        a(href='#')
                                            i.fa.fa-circle
                                            | Page layout
                                            i.fa.fa-angle-down.pull-right
                                        ul.sidebar-submenu
                                            li
                                                a(href='boxed.html')
                                                    i.fa.fa-circle
                                                    | Boxed
                                            li
                                                a(href='layout-rtl.html')
                                                    i.fa.fa-circle
                                                    | RTL
                                            li
                                                a(href='1-column.html')
                                                    i.fa.fa-circle
                                                    | 1 Column
                                    li
                                        a(href='#')
                                            i.fa.fa-circle
                                            | Menu Options
                                            i.fa.fa-angle-down.pull-right
                                        ul.sidebar-submenu
                                            li
                                                a(href='hide-on-scroll.html')
                                                    i.fa.fa-circle
                                                    | Hide menu on Scroll
                                            li
                                                a(href='vertical.html')
                                                    i.fa.fa-circle
                                                    | Vertical Menu
                                            li
                                                a(href='mega-menu.html')
                                                    i.fa.fa-circle
                                                    | Mega Menu
                                            li
                                                a(href='fix-header.html')
                                                    i.fa.fa-circle
                                                    | Fix Header
                                            li
                                                a(href='fix-header-sidebar.html')
                                                    i.fa.fa-circle
                                                    | Fix Header & Sidebar                
                                    li
                                        a(href='#')
                                            i.fa.fa-circle
                                            | Footers
                                            i.fa.fa-angle-down.pull-right
                                        ul.sidebar-submenu
                                            li
                                                a(href='footer-light.html')
                                                    i.fa.fa-circle
                                                    | Footer Light
                                            li
                                                a(href='footer-dark.html')
                                                    i.fa.fa-circle
                                                    | Footer Dark
                                            li
                                                a(href='footer-fixed.html')
                                                    i.fa.fa-circle
                                                    | Footer Fixed                                
                            li
                              a.sidebar-header(href='http://support.pixelstrap.com/help-center', target='_blank')
                                i(data-feather='headphones')
                                span Raise Support
                            li
                                a.sidebar-header(href='../document/index.html', target='_blank')
                                    i(data-feather='file-text')
                                    span Documentation
// Page Sidebar Ends