:root{
    -orange: #FAC055;
    --yellow: #FAC055;
    --highlight:#0077b6;
    --black:#000000;
    --white:#ffffff;
    --bg-gray:#F0F2F3;
    --very-light-gray:#ebebeb;
  }

.theme-fa-icon{
    color: var(--highlight);
    cursor: pointer;
    font-size: 20px;
}
.cardText {
    font-size: 16px;
    font-weight: 400;
}
.breadcrumb-item{
    cursor: pointer;
}
.sidebar-header{
    cursor: pointer;
}
.side-logo{
    width: 185px;
    height: 47px;
    margin-left: 3%;
    cursor: pointer;
    /* border-radius: 10px; */
    
}
.login-logo{
    width: 253px;
    height: 60px;
  

}
.dashboard-count{
    margin-top: 10px !important;
}
.button {
    padding-top: 30px;
}
.btn-color{
    background-color:var(--highlight) ;
    color: white;
}
.boldText {
    font-weight: 500;
}
.img-fluid{
    height: 20px;
}
.right-icon{
    font-size: 25px;
}
hr.class-1 {
    border-top: 2px solid black;
}
.page-wrapper .page-body-wrapper .page-sidebar .sidebar-menu>li>a.active{
    background-color: var(--highlight)!important;
    border-radius: 4px!important;
    padding: 7px!important;
}
.im-biz-detail-container{
    padding: 0px 40px;
}