- var chat_menu             = true;
- var tooltip               = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper.box-layout
            include ../../components/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                include ../../components/chat-sidebar
                .page-body.checkout
                    .container-fluid
                        .page-header
                            .row
                                .col
                                  .page-header-left
                                    h3 Checkout
                                    ol.breadcrumb
                                        li.breadcrumb-item
                                          a(href='index.html')
                                            i(data-feather='home')
                                        li.breadcrumb-item Ecommerce
                                        li.breadcrumb-item.active Checkout
                                include ../../components/bookmark
                    // Container-fluid starts
                    .container-fluid
                              .card
                                .card-header
                                  h5 Billing Details
                                .card-body
                                  .row
                                    .col-lg-6.col-sm-12
                                      form
                                        .form-row
                                          .form-group.col-sm-6
                                            label(htmlFor='inputEmail4') First Name
                                            input#inputEmail4.form-control(type='email')
                                          .form-group.col-sm-6
                                            label(htmlFor='inputPassword4') Last Name
                                            input#inputPassword4.form-control(type='password')
                                        .form-row
                                          .form-group.col-sm-6
                                            label(htmlFor='inputEmail4') Phone
                                            input#inputEmail4.form-control(type='email')
                                          .form-group.col-sm-6
                                            label(htmlFor='inputPassword4') Email Address
                                            input#inputPassword4.form-control(type='password')
                                        .form-group
                                            label(htmlFor='inputState') Country
                                            select#inputState.form-control
                                              option(selected='') Choose...
                                              option ...
                                        .form-group
                                          label(htmlFor='inputAddress2') Address
                                          input#inputAddress2.form-control(type='text')
                                        .form-group
                                            label(htmlFor='inputCity') Town/City
                                            input#inputCity.form-control(type='text')
                                        .form-group
                                          label(htmlFor='inputAddress2') State/Country
                                          input#inputAddress2.form-control(type='text')
                                        .form-group
                                          label(htmlFor='inputAddress2') Postal Code
                                          input#inputAddress2.form-control(type='text')
                                        .form-group
                                          .form-check
                                            input#gridCheck.form-check-input(type='checkbox')
                                            label.form-check-label(htmlFor='gridCheck')
                                              | Check me out
                                    .col-lg-6.col-sm-12
                                      .checkout-details
                                        .order-box
                                          .title-box
                                            div.checkbox-title
                                              h4 Product 
                                              span Total
                                          ul.qty
                                            li
                                              | Pink Slim Shirt × 1 
                                              span $25.10
                                            li
                                              | SLim Fit Jeans × 1 
                                              span $555.00
                                          ul.sub-total
                                            li
                                              | Subtotal 
                                              span.count $380.10
                                            li.shipping-class
                                              | Shipping
                                              .shopping-checkout-option
                                                label.d-block(htmlFor='chk-ani')
                                                  input#chk-ani.checkbox_animated(type='checkbox', checked='')
                                                  | Option 1
                                                label.d-block(htmlFor='chk-ani1')
                                                  input#chk-ani1.checkbox_animated(type='checkbox')
                                                  | Option 2
                                          ul.sub-total.total
                                            li
                                              | Total 
                                              span.count $620.00
                                          .animate-chk
                                            .row
                                              .col
                                                label.d-block(htmlFor='edo-ani')
                                                  input#edo-ani.radio_animated(type='radio', name='rdo-ani', checked='', data-original-title='', title='')
                                                  | Check Payments
                                                label.d-block(htmlFor='edo-ani1')
                                                  input#edo-ani1.radio_animated(type='radio', name='rdo-ani', data-original-title='', title='')
                                                  | Cash On Delivery
                                                label.d-block(htmlFor='edo-ani2')
                                                  input#edo-ani2.radio_animated(type='radio', name='rdo-ani', checked='', data-original-title='', title='')
                                                  | PayPal
                                                  img(src='../assets/images/checkout/paypal.png', alt='' className='img-paypal')
                                          .text-right
                                            a.btn.btn-primary(href='#') Place Order  
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files

