- var chat_menu             = true;
- var tooltip               = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper.box-layout
            include ../../components/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                include ../../components/chat-sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col
                                  .page-header-left
                                    h3 Detailed Course
                                    ol.breadcrumb
                                        li.breadcrumb-item
                                          a(href='index.html')
                                            i(data-feather='home')
                                        li.breadcrumb-item Learning
                                        li.breadcrumb-item.active Detailed Course
                                include ../../components/bookmark
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-xl-9.xl-60.set-col-7
                          .blog-single
                            .blog-box.blog-details
                              img.img-fluid.w-100(src='../assets/images/faq/learning-1.png', alt='blog-main')
                              .blog-details
                                ul.blog-social
                                  li.digits 25 July 2018
                                  li
                                    i.icofont.icofont-user
                                    | Mark 
                                    span Jecno 
                                  li.digits
                                    i.icofont.icofont-thumbs-up
                                    | 02
                                    span Hits
                                  li.digits
                                    i.icofont.icofont-ui-chat
                                    | 598 Comments
                                h4
                                  | All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the
                                  | Internet.
                                .single-blog-content-top
                                  p
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                  p
                                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like
                            section.comment-box
                              h4 Comment
                              hr
                              ul
                                li
                                  .media.align-self-center
                                    img.align-self-center(src='../assets/images/blog/comment.jpg', alt='Generic placeholder image')
                                    .media-body
                                      .row
                                        .col-md-4.xl-100.set-col-12
                                          h6.mt-0
                                            | Jolio Mark
                                            span  ( Designer )
                                        .col-md-8.xl-100
                                          ul.comment-social.float-left.float-md-right.learning-comment
                                            li.digits
                                              i.icofont.icofont-thumbs-up
                                              | 02 Hits
                                            li.digits
                                              i.icofont.icofont-ui-chat
                                              | 598 Comments
                                      p
                                        | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                li
                                  ul
                                    li
                                      .media
                                        img.align-self-center(src='../assets/images/blog/9.jpg', alt='Generic placeholder image')
                                        .media-body
                                          .row
                                            .col-xl-12
                                              h6.mt-0
                                                | Jolio Mark
                                                span  ( Designer )
                                          p
                                            | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                li
                                  .media
                                    img.align-self-center(src='../assets/images/blog/4.jpg', alt='Generic placeholder image')
                                    .media-body
                                      .row
                                        .col-md-4.xl-100.set-col-12
                                          h6.mt-0
                                            | Jolio Mark
                                            span  ( Designer )
                                        .col-md-8.xl-100
                                          ul.comment-social.float-left.float-md-right.learning-comment
                                            li.digits
                                              i.icofont.icofont-thumbs-up
                                              | 02 Hits
                                            li.digits
                                              i.icofont.icofont-ui-chat
                                              | 598 Comments
                                      p
                                        | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                        .col-xl-3.xl-40.set-col-5
                          #accordionoc.default-according.style-1.faq-accordion.job-accordion
                            .row
                              .col-xl-12
                                .card
                                  .card-header
                                    h5.mb-0
                                      button.btn.btn-link.pl-0(data-toggle='collapse', data-target='#collapseicon', aria-expanded='true', aria-controls='collapseicon')
                                        | Find Course
                                  #collapseicon.collapse.show(aria-labelledby='collapseicon', data-parent='#accordion')
                                    .card-body.filter-cards-view.animate-chk
                                      .job-filter
                                        .faq-form
                                          input.form-control(type='text', placeholder='Search..')
                                          i.search-icon(data-feather='search')
                                      .checkbox-animated
                                        .learning-header
                                          span.f-w-600 Categories
                                        label.d-block(htmlFor='chk-ani')
                                          input#chk-ani.checkbox_animated(type='checkbox')
                                          |                             Design
                                        label.d-block(htmlFor='chk-ani1')
                                          input#chk-ani1.checkbox_animated(type='checkbox')
                                          |                             Development
                                        label.d-block(htmlFor='chk-ani2')
                                          input#chk-ani2.checkbox_animated(type='checkbox')
                                          |                             Management
                                      .checkbox-animated.mt-0
                                        .learning-header
                                          span.f-w-600 Price
                                        label.d-block(htmlFor='edo-ani')
                                          input#edo-ani.radio_animated(type='radio', name='rdo-ani', checked='')
                                          |                             All Courses
                                        label.d-block(htmlFor='edo-ani1')
                                          input#edo-ani1.radio_animated(type='radio', name='rdo-ani', checked='')
                                          |                             Paid Courses
                                        label.d-block(htmlFor='edo-ani2')
                                          input#edo-ani2.radio_animated(type='radio', name='rdo-ani', checked='')
                                          |                             Free Courses
                                      .checkbox-animated.mt-0
                                        .learning-header
                                          span.f-w-600 Status
                                        label.d-block(htmlFor='chk-ani3')
                                          input#chk-ani3.checkbox_animated(type='checkbox')
                                          |                             Registration
                                        label.d-block(htmlFor='chk-ani4')
                                          input#chk-ani4.checkbox_animated(type='checkbox')
                                          |                             Progress
                                        label.d-block(htmlFor='chk-ani5')
                                          input#chk-ani5.checkbox_animated(type='checkbox')
                                          |                             Completed
                                      .checkbox-animated.mt-0
                                        .learning-header
                                          span.f-w-600 Duration
                                        label.d-block(htmlFor='chk-ani6')
                                          input#chk-ani6.checkbox_animated(type='checkbox')
                                          |                             0-24 hours
                                        label.d-block(htmlFor='chk-ani7')
                                          input#chk-ani7.checkbox_animated(type='checkbox')
                                          |                             24-100 hours
                                        label.d-block(htmlFor='chk-ani8')
                                          input#chk-ani8.checkbox_animated(type='checkbox')
                                          |                             100+ hours
                                      button.btn.btn-primary.text-center(type='button') Filter
                              .col-xl-12
                                .card
                                  .card-header
                                    h5.mb-0
                                      button.btn.btn-link.pl-0(data-toggle='collapse', data-target='#collapseicon1', aria-expanded='true', aria-controls='collapseicon1')
                                        | Categories
                                  #collapseicon1.collapse.show(aria-labelledby='collapseicon1', data-parent='#accordion')
                                    .categories
                                      .learning-header
                                        span.f-w-600 Design
                                      ul
                                        li
                                          a(href='#') Graphic Design
                                          span.badge.badge-primary.pull-right 20
                                        li
                                          a(href='#') Web Design
                                          span.badge.badge-primary.pull-right 42
                                        li
                                          a(href='#') Interface Design
                                          span.badge.badge-primary.pull-right 15
                                        li
                                          a(href='#') User Experience
                                          span.badge.badge-primary.pull-right 63
                                    .categories.pt-0
                                      .learning-header
                                        span.f-w-600 Development
                                      ul
                                        li
                                          a(href='#') Frontend Development
                                          span.badge.badge-primary.pull-right 74
                                        li
                                          a(href='#') Backend Development
                                          span.badge.badge-primary.pull-right 53
                              .col-xl-12
                                .card
                                  .card-header
                                    h5.mb-0
                                      button.btn.btn-link.pl-0(data-toggle='collapse', data-target='#collapseicon2', aria-expanded='true', aria-controls='collapseicon2')
                                        | Upcoming Courses
                                  #collapseicon2.collapse.show(aria-labelledby='collapseicon2', data-parent='#accordion')
                                    .upcoming-course.card-body
                                      .media
                                        .media-body
                                          span.f-w-600 Business Development
                                          span.d-block
                                            | Course By 
                                            a(href='#') Badi Zaman
                                          span.d-block
                                            i.fa.fa-star.font-warning
                                            i.fa.fa-star.font-warning
                                            i.fa.fa-star.font-warning
                                            i.fa.fa-star.font-warning
                                            i.fa.fa-star-half-o.font-warning
                                        div
                                          h5.mb-0.font-primary 09
                                          span.d-block Nov
                                      .media
                                        .media-body
                                          span.f-w-600 Web design strategy
                                          span.d-block
                                            | Course By 
                                            a(href='#') Zaky Hanania
                                          span.d-block
                                            i.fa.fa-star.font-warning
                                            i.fa.fa-star.font-warning
                                            i.fa.fa-star.font-warning
                                            i.fa.fa-star.font-warning
                                            i.fa.fa-star.font-warning
                                        div
                                          h5.mb-0.font-primary 18
                                          span.d-block Dec
                                      .media
                                        .media-body
                                          span.f-w-600 User experience design
                                          span.d-block
                                            | Course By 
                                            a(href='#') Majida Handal
                                          span.d-block
                                            i.fa.fa-star.font-warning
                                            i.fa.fa-star.font-warning
                                            i.fa.fa-star.font-warning
                                            i.fa.fa-star.font-warning
                                            i.fa.fa-star-o.font-warning
                                        div
                                          h5.mb-0.font-primary 24
                                          span.d-block Dec
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
