
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper.box-layout
          .container-fluid.p-0
            // login page start
            .authentication-main
              .row
                .col-md-12
                  .auth-innerright
                    .authentication-box
                      .text-center
                        img(src='../assets/images/endless-logo.png', alt='')
                      .card.mt-4
                        .card-body
                          .text-center
                            h4 LOGIN
                            h6 Enter your Username and Password 
                          form.theme-form
                            .form-group
                              label.col-form-label.pt-0 Your Name
                              input.form-control(type='text', required='')
                            .form-group
                              label.col-form-label Password
                              input.form-control(type='password', required='')
                            .checkbox.p-0
                              input#checkbox1(type='checkbox')
                              label(htmlFor='checkbox1') Remember me
                            .form-group.form-row.mt-3.mb-0
                              button.btn.btn-primary.btn-block(type='submit') Login
                            .form-group.form-row.mt-3.mb-0
                              button.btn.btn-secondary.btn-block(type='submit') Login With Auth0
                            .login-divider
                            .social.mt-3
                              .form-group.btn-showcase.d-flex
                                button.btn.social-btn.btn-fb.d-inline-block 
                                  i.fa.fa-facebook
                                button.btn.social-btn.btn-twitter.d-inline-block
                                  i.fa.fa-google
                                button.btn.social-btn.btn-google.d-inline-block
                                  i.fa.fa-twitter
                                button.btn.social-btn.btn-github.d-inline-block
                                  i.fa.fa-github
            // login page end
        include ../../components/footer-files
